html {
    background-image:  linear-gradient( 0 ,rgba(170, 159, 159, 0.5) ,rgb(228, 11, 11));
    background-size: 100% 500px;
    background-repeat: no-repeat;
}
.box {
    width: 30px;
    height: 40px;
    background-color: brown;
    padding: 30px;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    align-content: center;
    color: white;
}
.box1 {
    background-color: gray;
}
.box2 {
    background-color: green;
}
.box3 {
    background-color: pink;
}
.box4 {
    background-color: blue;
}
.flix {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}